body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: #1e1e1e url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
}




.grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 2fr;  /* three columns, with the third one being double the width of the first two */
  grid-template-rows: repeat(3, 1fr); /* three equal rows */
  gap: 100px;
  padding: 100px;
  box-sizing: border-box;
}





.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black; /* you can change this if you want a different border color */
  font-size: 20px;
  font-weight: bold;
  box-sizing: border-box;
  background-color: white; /* Set the grid item background color to white */
}

